body, html {
    height: 100%;
  }

footer{
  text-indent: 2em;
}

pre {
  margin-left: 2em;
}

 .textIndentation{
  text-indent: 2em;
 }
  
  .parallax {
    /* The image used */
    background-image: url("../images/wb_startPageImg.png");
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  /* Aligns the text and makes it a block */
  .textBlock {

    font-size: calc(.5em + 1vw);
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background-color: black;
    color: white;
    text-align: left;
    list-style-position: inside;
    opacity: 95%;
  }
