body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("../images/wb_startPageImg.png");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
  }

  /* Aligns the text and makes it a block */
  .textBlock {

    font-size: calc(.5em + 1vw);
    margin-left: auto;
    margin-right: auto;
    width:100%;
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    list-style-position: inside;
    opacity: 95%;

  }
    
  .backgroundC{
    background-color: black;
    opacity: 95%;
    height: 100%;
 }

 /* TO DO:
    1. Need to fix the tapering off effect it has on the webpage
    2. Need to fix need to expand the parolax image to cover the text in all of the html files
 */